@import "rounded-corners.less";
@import "button.less";

.table-select{
    > .inner{
        height: 100%;
        width: 100%;
        position: relative;

        @addChoice_h: 50px;

        > .table-container{
            position: absolute;
            top: 0;
            bottom: @addChoice_h;
            left: 0;
            right: 0;

            > .inner{

                .choices-table{
                    height: 100%;
                    width: 100%;
                    border-spacing: 0;

                    .choice-row {
                        &.selected{
                            background-color: #bcf;
                        }
                    }
                }
            }
        }

        > .add-choice-container{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: @addChoice_h;
            text-align: center;

            > .inner{
                > .add-choice-button{
                    .button;
                    display: inline-block;
                }
            }
        }
    }

    // Override datatable defaults.
    table.dataTable {
        tr.even, tr.odd {
            td{
                &.sorting_1, &.sorting_2, &.sorting_3 {
                    background-color: inherit;
                }
            }
        }
    }
}
