<div class="inner">
    <div class="table">
        <div class="row">
            <div class="table-container cell">
                <div class="inner">
                    <table class="table choices-table">
                        <thead>
                            <tr>
                                <th>id</th>
                                <% _.each(columns, function(column) { %>
                                <th><%= column.label %></th>
                                <% }) %>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="controls-container cell">
                <div class="inner">
                    <div class="controls">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
